$screen-width: 1280px;
$screen-height: 720px;

$color-focus: #cc5572;
$color-white: #fff;
$color-black: #000;
$color-yellow: yellow;

$font-size-10sp: 13px;
$font-size-10_5sp: 14px;
$font-size-11sp: 15px;
$font-size-11_3sp: 15px;
$font-size-11_5sp: 15px;
$font-size-12sp: 16px;
$font-size-12_5sp: 17px;
$font-size-13sp: 17px;
$font-size-13_5sp: 18px;
$font-size-14sp: 19px;
$font-size-14_5sp: 19px;
$font-size-14_6sp: 19px;
$font-size-15sp: 20px;
$font-size-15_5sp: 21px;
$font-size-16sp: 21px;
$font-size-16_5sp: 22px;
$font-size-17sp: 23px;
$font-size-17_5sp: 23px;
$font-size-18sp: 24px;
$font-size-18_5sp: 24px;
$font-size-19sp: 25px;
$font-size-19_5sp: 26px;
$font-size-20sp: 27px;
$font-size-20_5sp: 27px; ///
$font-size-21sp: 28px;
$font-size-21_5sp: 29px;
$font-size-22sp: 29px;
$font-size-22_5sp: 30px;
$font-size-23sp: 31px;
$font-size-23_5sp: 31px;
$font-size-24sp: 32px;
$font-size-24_5sp: 33px;
$font-size-25sp: 33px;
$font-size-25_5sp: 34px;
$font-size-26sp: 35px;
$font-size-26_5sp: 35px;

$text-shadow-color: rgba(0, 0, 0, 0.7);

@mixin btn($padding1, $padding2) {
    margin: 0 4px;
    padding: $padding2 $padding1;
    border-radius: $padding1;
    background-color: #171717;

    &.focus {
        box-shadow: inset 0 0 0px 4px $color-focus;
    }
    &.selected {
        background-color: $color-focus;
    }
}

.btn.h421 { @include btn(20px, 15px); }
.btn.h422 { @include btn(18px, 13px); }
.btn.h350 { @include btn(13px, 8px); }

.radio {
    width: 13px;
    height: 13px;
    // background-image: url('../images/png/basic_checkbox_circle_norfoc.png');
    &.selected {
        // background-image: url('../images/png/basic_checkbox_circle_sel.png');                            
    }
}

.checkbox {
    width: 21px;
    height: 23px;
    // background-image: url('../images/png/setting_icon_checkbox.png');
    background-repeat: no-repeat;
    background-position: center;
    &.selected {
        // background-image: url('../images/png/setting_icon_check.png'),url('../images/png/setting_icon_checkbox.png');                     
    }
}

@mixin modalItem($height, $padding, $border) {
    height: $height;
    padding-left: $padding;
    padding-right: $padding;
    border-radius: 10px;
    // border-radius: $padding;
    color: #999;
    @if ($border>0) {
        border-top: $border solid #1e1e1e;
        border-bottom: $border solid #2c2c2c;
        
    }
    &:first-child {
        @if ($border>0) {
            border-top: $border solid transparent;
        }
    }
    &:last-child {
        @if ($border>0) {
            border-bottom: $border solid transparent;
        }
    }    
    &.focus {
        @if ($border>0) {
            border-top: 0px;
            border-bottom: 0px;
        }
        background-color: #1a1a1a;
        box-shadow: inset 0 0 0px 4px $color-focus;
        color: #e6e6e6;
    }
    &.selected {
        @if ($border>0) {
            border-top: 0px;
            border-bottom: 0px;
        }
        color: $color-focus;
    }
    .selected {
        color: $color-focus;
    }
    .checkbox {
        margin-right: 7px;
    }
}

@mixin menuItem($height, $padding, $border) {
    height: $height;
    padding-left: $padding;
    padding-right: $padding;
    border-radius: 10px;
    // border-radius: $padding;
    color: #999;
    @if ($border>0) {
        border-top: $border solid #1e1e1e;
        border-bottom: $border solid #2c2c2c;
        
    }
    &:first-child {
        @if ($border>0) {
            border-top: $border solid transparent;
        }
    }
    &:last-child {
        @if ($border>0) {
            border-bottom: $border solid transparent;
        }
    }    
    &.focus {
        @if ($border>0) {
            border-top: 0px;
            border-bottom: 0px;
        }
        box-shadow: inset 0 0 0px 4px $color-focus;
        color: #e6e6e6;
    }
    &.selected {
        @if ($border>0) {
            border-top: 0px;
            border-bottom: 0px;
        }
        color: $color-focus;
    }
}