@import 'common.scss';

// @import url('../fonts/Roboto.css');
// @import url('../assets/fonts/YOONGOTHIC.css');

// * { outline: 1px solid rgba(255, 105, 180, 0.2); outline-offset: -1px; }

*, ::before, ::after {
  box-sizing: border-box;
}

.error {
  color: blue;
  background-color: green;
}

// next.config.js 에 설정되어 있다
// $basePath: '~src/assets/images';
// $basePath: '/alaska_dev/apps/Club';
.test-bg {
  background-image: url(#{$basePath}/images/club/bg-gradient.png);
  background-image: url(#{$basePath}/images/club/bg-gradient.png);
  background-image: url(#{$basePath}/images/club/bg-gradient.png);
  background-image: url(#{$basePath}/images/club/bg-gradient.png);
  background-image: url(#{$basePath}/images/club/bg-gradient.png);
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: $screen-width;
  height: $screen-height;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-family: 'Yoon 윤고딕 540_TT';
  font-size: $font-size-15sp;
  line-height: 1.3em;
  letter-spacing: 0em;
  color: $color-black;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}

img {
  margin: 0;
  padding: 0;
  border: none;
}

a,
label {
  text-decoration: none;
}

.multi-line-text {
  word-break: break-word;
  white-space: pre-wrap;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ellipsis2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

//Grid
.gridbox {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, auto));
	grid-auto-rows: minmax(100px, auto);
	gap: 0px 0px;
	// align-content: center;
	// justify-content: center;
	// align-item: center;
	// justify-item: center;
}

//Flex
.flexbox, .flexbox.center {
  display        : flex;
  align-items    : center;
  justify-content: center;
  flex-direction : row;
  flex-wrap      : wrap;
  gap            : 0px 0px;
  // flex-grow      : initial;
  // flex-shrink    : initial;
  // flex-basic     : initial;
}
.flexbox.row {
  flex-direction : column;
}
.flexbox.col {
  flex-direction : row;
}
.flexbox.left {
  justify-content: flex-start;
}
.flexbox.right {
  justify-content: flex-end;
}
.flexbox.top {
  align-items: flex-start;
}
.flexbox.bottom {
  align-items: flex-end;
}
.flexbox.around {
  justify-content: space-around;
}
.flexbox.between {
  justify-content: space-between;
}

//스크롤바
$scrollbar-size: 3px;
$scrollbar-track-margin: 0px;
$scrollbar-track-color: rgba(255,255,255,0.2);
$scrollbar-track-border: 0px;
$scrollbar-thumb-min-size: 100px;
$scrollbar-thumb-border: 0px;
$scrollbar-thumb-color: #b2b2b2;

::-webkit-scrollbar {
  width: $scrollbar-size;
  height: $scrollbar-size;
}
::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}
::-webkit-scrollbar-track:vertical {
  margin: $scrollbar-track-margin;
  border-left: $scrollbar-track-border;
  border-right: $scrollbar-track-border;
}
::-webkit-scrollbar-track:horizontal {
  margin: $scrollbar-track-margin;
  border-top: $scrollbar-track-border;
  border-bottom: $scrollbar-track-border;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
}
::-webkit-scrollbar-thumb:vertical {
  min-height: $scrollbar-thumb-min-size;
  border-left: $scrollbar-thumb-border;
  border-right: $scrollbar-thumb-border;
}
::-webkit-scrollbar-thumb:horizontal {
  min-width: $scrollbar-thumb-min-size;
  border-top: $scrollbar-thumb-border;
  border-bottom: $scrollbar-thumb-border;
}

//애니메이션
.zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.marquee {  
  animation-name: marquee8;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: infinite;
  // animation-play-state: paused;
  // animation-play-state: running;
  // animation-timing-function: linear;
  animation-timing-function: ease-in-out;
}

@keyframes zoomIn {
  0% { transform: scale(0.8); }
  50% { opacity: 1; }
}

@keyframes marquee8 {
  0%   { opacity: 1; transform: translate(0%); }
  48%  { opacity: 1; transform: translate(-120%); }
  49%  { opacity: 0; transform: translate(-120%); }
  50%  { opacity: 0; transform: translate(100%);}
  51%  { opacity: 1; transform: translate(100%); }
  100% { opacity: 1; transform: translate(0%); }
}